{% extends "./base.html" %}
{% load static %}

{% block users_contain %}
<form method="POST">{% csrf_token %}
    <label for="formControlInput" class="form-label">아이디</label>
    <p>{{form.account}}</p>
    <label for="formControlInput" class="form-label">비밀번호</label>
    <p>{{form.password}}</p>
    <label for="formControlInput" class="form-label">이름</label>
    <p>{{form.user_name}}</p>
    <label for="formControlInput" class="form-label">닉네임</label>
    <p>{{form.nicknames}}</p>
    <label for="formControlInput" class="form-label">생년월일</label>
    <p>{{form.dt_birthday}}</p>
    <input class="btn btn-outline-primary" type="submit" value="계정 생성">
    <a href={% url "post-list" %} class="btn btn-primary">돌아가기</a>
</form>
{% endblock users_contain %}