{% extends "./base.html" %}
{% load static %}

{% block header-title %}
<span><span class="text-primary">
    {{post.nicknames}}
</span>의 글 수정</span>
{% endblock header-title %}

{% block posts_contain %}
<form method="POST">{% csrf_token %}
    <label for="formControlInput" class="form-label">제목</label>
    <p>{{form.title}}</p>
    <label for="formControlInput" class="form-label">내용</label>
    <p>{{form.content}}</p>
    <label for="formControlInput" class="form-label">작성자</label>
    <p>{{form.nicknames}}</p>
    <input class="btn btn-outline-primary" type="submit" value="수정 완료">
    <a href={% url "post-detail" post.id %} class="btn btn-primary">돌아가기</a>
</form>
{% endblock posts_contain %}