{% extends "./base.html" %}
{% load static %}

{% block header-title %}
<span><span class="text-primary">{{post.nicknames}}</span>의 글 삭제</span>
{% endblock header-title %}


{% block posts_contain %}
<div class="border-bottom border-primary">
    <label>제목</label>
    <h5>{{post.title}}</h1>
</div>
<div class="border-bottom border-primary">
    <label>내용</label>
    <p>{{post.content}}</p>
</div>
<div class="border-bottom border-primary">
    <label>작성자</label>
    <p>{{post.nicknames}}</p>
</div>
<hr>
<p>정말 삭제 하시겠습니까?</p>
<form method="POST">{% csrf_token %}
    <div class="confirm_btn">
        <input class="btn btn-danger" type="submit" value="삭제하기">
    </div>
</form>
{% endblock posts_contain %}