{% extends "./base.html" %}
{% load static %}



{% block posts_contain %}
<form method="POST">{% csrf_token %}
    <label for="formControlInput" class="form-label">제목</label>
    <p>{{form.title}}</p>
    <label for="formControlInput" class="form-label">내용</label>
    <p>{{form.content}}</p>
    <label for="formControlInput" class="form-label">이름</label>
    <p>{{form.nicknames}}</p>
    <input type="submit" value="작성 완료">
</form>
<a href={% url "post-list" %}>돌아가기</a>
{% endblock posts_contain %}