{% extends "./base.html" %}
{% load static %}

{% block header-title %}
<span>Diray 목록</span>
{% endblock header-title %}

{% block posts_contain %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">제목</th>
            <th scope="col">내용</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
        </tr>
    </thead>
    <tbody>
        {% for post in page_obj %}
        <tr>
            <th scope="row">{{post.id}}</th>
            <td><a class="text-black text-decoration-none" href={% url 'post-detail' post.id %}>{{post.title}}</a></td>
            <td><a class="text-black text-decoration-none" href={% url 'post-detail' post.id %}>{{post.content|truncatechars:20}}</a></td>
            <td><a class="text-black text-decoration-none" href={% url 'post-detail' post.id %}>{{post.nicknames}}</a></td>
            <td><a class="text-black text-decoration-none" href={% url 'post-detail' post.id %}>{{post.dt_created}}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">이전</a></li>
        {% endif %}

        {% for page in paginator.page_range %}
        <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">다음</a></li>
        {% endif %}
    </ul>
</nav>
{% endblock posts_contain %}